body {
    color: #3D9970;
    background-image: url(imagens/caminhão.jpg);
    background-color: #d3ba92;
    font-family:Arial, Helvetica, sans-serif;
    background-size: 500px 380px;
    background-repeat: no-repeat;
    background-position: right 10px top 200px;
}
@media (max-width: 800px) {
    body {
        background-size: 200px 150px; /* Ajusta o tamanho da imagem para telas menores */
        font-size: 14px; /* Ajusta o tamanho da fonte */
        background-image: none; /* Remove a imagem de fundo em dispositivos pequenos */
        background-color: #d8c3a2; /* Fundo claro */
    }
    h2, nav ul li a {
        font-size: 20px;
    }
    nav ul {
        flex-direction: column;
        align-items: center;
        padding: 0;
    }
    nav ul li {
        margin: 5px 0;
    }
    .manual-section {
        font-size: 14px; /* Reduz o tamanho da fonte em telas pequenas */
        text-align: left;
        margin: 0;
    }
}
@media (max-width: 520px) {
    nav ul {
        flex-direction: column;
        align-items: center;
        padding: 0;
    }
    nav ul li {
        margin: 5px 0;
    }
}
/* Ajustes para telas médias */
@media (max-width: 768px) {
    body {
        background-size: cover; /* Ajusta o tamanho da imagem */
    }
}
/* Ajustes para telas grandes */
@media (max-width: 1024px) {
    .header {
        height: 60px; /* Ajusta a altura do cabeçalho para telas grandes */
    }
}   
/*----------------------------------------------------------------------*/
/* Estilo para o logo em telas maiores */
.logo {
    background-image: cover;
    height: 130px;  /* Define a altura fixa para telas grandes */
    float: left;    /* Deixa o logo alinhado à esquerda */
    transition: height 0.3s ease; /* Suaviza a transição ao mudar de tamanho */
}
/* Para telas médias (tablets) */
@media (max-width: 768px) {
    .logo {
        background-image: cover;
        height: 100px; /* Reduz o tamanho do logo */
        float: left;    /* Remove o float para evitar quebra de layout */
    }
}    
/* flexbox*/
/*----------------------------------------------------------------*/
/* Geral: seções lado a lado */
.image-container {
    display: flex;
    flex-wrap: wrap; /* Quebra linha caso não caiba na largura */
    justify-content: center; /* Centraliza horizontalmente */
    gap: 10px; /* Espaço entre as imagens */
}
/* Responsividade para telas pequenas */
@media (max-width: 768px) {
    .image-container {
        flex-direction: row; /* Mantém lado a lado */
        justify-content: center; /* Centraliza */
    }
    .image-container img {
        width: 100px; /* Ajuste do tamanho em telas pequenas */
        height: auto;
    }
}
@media (max-width: 500px) {

    h1, h2, h3 {
        font-size: 14px;
        line-height: 1.5;
        margin: 5px 0;
    }
    p, li {
        font-size: 14px;
        line-height: 1.5;
        margin: 5px 0;
    }button {
        width: 100%; /* Botões ocupam toda a largura */
        padding: 10px;
    }
    .container {
        margin: 0 auto; /* Centraliza */
        padding: 10px;  /* Ajusta espaçamento */
    }
    body, html {
        margin: 0;
        padding: 0;
        width: 100%;
        font-size: 14px;
        background-size: cover;
    }
    footer{
        height: auto;
    }

    section, nav, header, footer {
        width: 100%;
        padding: 10px; /* Adicione um espaçamento interno */
        box-sizing: border-box; /* Garante que padding não aumente a largura total */
    }
    .content {
        padding: 10px;
        margin: 0;
        width: 100%;
    }
    .logo, img {
        max-width: 100%; /* Ajusta o tamanho ao limite da tela */
        margin-top: 50px;
        height: 50px; /* Reduz o tamanho do logo */
        float: left;    /* Remove o float para evitar quebra de layout */
    }
    .logo {
        height: 80px; /* Reduz tamanho */
        margin: 0 auto;
        display: block;
    }
    nav ul {
        flex-direction: column;
        align-items: center;
        padding: 0;
    }
    nav ul li {
        margin: 5px 0;
    }
    nav ul li a {
        display: block; /* Links ocupam 100% */
        padding: 10px;
    }
    /* Ajusta o tamanho da fonte para seções em dispositivos pequenos */
    section {
        padding: 20px; /* Ajusta o padding para seções em telas menores */
    }

    /* Ajusta o tamanho da fonte para seções em dispositivos pequenos */
    section h2 {
        font-size: 18px;
    }
    .menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    /*-------------------------------------------------------------------*/
    /* Para que os botões fiquem um debaixo do outro em telas pequenas */                           

    #home, #about, #contact {
        width: 100%; /* Ocupa a largura inteira disponível */
        
    }
    /* Responsividade: se a tela for menor que 768px, as seções ficam empilhadas */
    @media (max-width: 768px) {
        section {
            display: block; /* Garante que cada seção ocupe 100% da largura e fique embaixo */
        }
    }

    /* Para telas maiores, as seções ficam lado a lado */
    @media (min-width: 769px) {
        section {
            display: inline-block; /* Para telas maiores, seções podem ficar lado a lado */
            width: 32%; /* Cada seção ocupa aproximadamente 1/3 da largura */
            vertical-align: top; /* Garante o alinhamento em cima */
        }
    }
}

/*_____________________________ver o que é bom________________________________________*/

footer {
        background-color:#B69A6D;
        height: auto; /* Altura fixa do footer */
        color: #fff;
        text-align: center;
        padding: 1rem;
        width: 100%;
        position: relative;
        bottom: 0;
    }   

h1{
    background-color: #dd00e8;
    font-size: 50px;
    margin: 0;
    height: 50px;
    padding: 10px;
    width:auto;
   
}
h2{
    font-size: 23px;
    height: auto;
    padding: 10px;
    color: white;
    text-align: center;
    background-color: #044720;
    margin: 10px 60% 0px 0px;
    border: 3px solid;
}
h3 {
    display: flex;
    align-items: center; /* Alinha a imagem e o texto verticalmente */
    justify-content: flex-start; /* Alinha a imagem e o texto à esquerda */
    margin: 0; /* Remove margens externas */
}

h3 img {
    margin-right: 10px; /* Espaçamento entre a imagem e o texto */
    max-height: 1000px; /* Ajusta o tamanho da imagem para não ficar muito grande */
}

.manual-section ol {
    margin-left: 20px; /* Adiciona margem à esquerda da lista ordenada */
}

.branco{
    color: white;
}
p, li {
    line-height: 2.0;
    text-align: justify;
    color: #5d4037;
    font-style: italic;
    font-weight: initial;
    padding: 5px;
}
.IsubtitleBranco{
    background-color: white;
    height: 20px;
    margin: 0px 0px 0px 10px;
    width: auto;
}
.subtitleVerde{
    background-color: #0dff0d;
    height: 45px;
    margin: 0;
    margin-bottom: 0;
    width: auto;
}
.reciclaveis{
    float: left;
}
.rejeito{
    margin-top: 100px;
    float: left;
    margin-left: -300px;
}
.organico{
    margin-top: 150px;
    margin-left: 10px;
    float: left;
 }
.espaco{
    margin-top: 100px;
}
section {
    margin: left; /* Espaço entre as seções */
    padding: 10px;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    background-color: #1c25da;
    margin-top: 0;
    padding: 10px;
}
nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}
nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 20px;
}
a{
    text-decoration: none;
}
.menu li{
        list-style-position: inside;
        list-style-type: none;
        display: inline-block;
        padding: 0;
}
.menu a{
        background-color: #0dff0d;
        padding: 16px;
        display: inline-block;
        font-style: normal;
        text-align: center;

}
.margintop{
    margin-top: 10px;
    margin-bottom: 0;
}
.margem{
    justify-content: center;
}
.image-container {
    display: flex;
    justify-content: left;
    gap: 10px; /* espaço entre imagens */
    flex-wrap: wrap; /* faz com que imagens quebrem linha */
}
.image-container img {
    width: 200px; /* ajuste conforme necessário */
    height: auto;
}
.social-links a {
    background-color: #0dff0d;
    color: #fff;
    padding: 10px 15px;
    margin: 5px;
    display: inline-block;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.social-links a:hover {
    background-color: #4c934a; /* cor ao passar o mouse */
}
.OsubTi{
    text-align: left;
    margin-left: 0;
}
.manual-section ol {
    padding-left: 0; /* Remove o espaçamento padrão à esquerda das listas */
}
.contato{
    text-align: center;

}